<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <h1>Bienvenido al simulador <%= @name%></h1>
        <p><%= @dimensions%></p>
        <p><%= @nocars%></p>
        <form method="post" action="/simulator">
            <% @@surface.get_cars().each_with_index do |car, index| %>
                <div class="fields"> 
                    <h3 class="title-no">Ingresa la posicion inicial y secuencia del auto <%= index + 1%></h3>
                    <div class="field-float">
                        <p class="field-name">Coordenada x:</p> 
                        <input class="my-input" type='text' name='cord_x_<%=index%>' id='cord_x_<%=index%>' placeholder='Coordenada x'>
                    </div>
                    <div class="field-float mrg-left">
                        <p class="field-name">Coordenada y:</p> 
                        <input class="my-input" type='text' name='cord_y_<%=index%>' id='cord_y_<%=index%>' placeholder='Coordenada y'>
                    </div>
                    <div class="field-float mrg-left">
                        <p class="field-name">Orientacion(N,S,E,O):</p> 
                        <input class="my-input" type='text' name='orientation_<%=index%>' id='orientation_<%=index%>' placeholder='Orientacion'>
                    </div>
                    <div class="field-float mrg-left">
                        <p class="field-name">Secuencia (IDAADI):</p> 
                        <input class="my-input2" type='text' name='sequence_<%=index%>' id='sequence_<%=index%>' placeholder='Secuencia'>
                    </div>
                </div>
                <% if (!car.get_errors().include? "Las coordenadas son negativas o estan fuera de la superficie")%>
                    <div class="results">
                        <p>La posicion inicial fue <%= car.get_cordX()%>,<%= car.get_cordY()%></p>
                        <p>La orientacion inicial fue <%= car.get_char_orientation()%></p>
                        <p>La secuencia fue <%= car.get_sequence()%></p>
                        <p>La posicion final fue <%= car.get_cordX_final()%>,<%= car.get_cordY_final()%></p>
                        <p>La orientacion final fue <%= car.get_char_orientation_final()%></p>
                    </div>
                <% end %>
                    <% car.get_errors().each do |error| %>
                        <p><%= error%></p>
                    <%end%> 
            <% end %>

                <br><br>
            <% if @show %>
                <div class="button-float" ><input type='submit' class="button" value='Simular' id='simular'></div>
            <%end%>
        </form>
        
    </body>
</html>